@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
body {
    margin: 20px;
    padding: 10px 80px;
    /*background: url('ocean.jpg') center;*/
    background-size: cover;
}

/*CSS comments = anything between /* and / is a comment.*/

/*Go to fonts.google.com to find free fonts. Press Get Font, @import, and then copy the embed code to link it in your html file. (The available weights are also shown.) Use the font-family property to apply it to your text.*/

/*HTML: The most generic selector, it applies to all elements on the page. It is used to set global styles for the entire document.*/

#header-box1,#header-box2,#header-box3,#header-box4,#header-box5 {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    font-size: 10px;
    font-weight: 100;
    color: hsl(0, 0%, 100%);
}

/*IDs are used to choose specific elements on the page. They are used to apply styles to a single element that has a unique id attribute. The id attribute should be within the document with the word/paragraph that's unique.*/
/*(To select an element with a specific ID in CSS, you can use the # symbol followed by the ID name. For example, if you have an element with the ID "main-Headline", you can style it in CSS like this. . .)*/
#main-Headline {
    font-family: monospace, sans-serif;
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    color: hsl(101, 44%, 34%);
}


#main-Headline2 {
    font-family: monospace, sans-serif;
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    color: hsl(101, 44%, 34%);
}

/*text-transform: uppercase
/*text-transform: lowercase (this one takes precedence over the uppercase one, so it will be lowercase even though the html says uppercase first.)


/*Classes are used to choose specific elements on the page. They are used to apply styles to elements that have a particular class attribute.*/

    
.classCOLOR1 {
    color: hsl(29, 29%, 66%);
}

.classCOLOR2 {
    color: hsl(29, 45%, 52%);
}

.classCOLOR3 {
    color: hsl(32, 72%, 46%); 
}

.classCOLOR4 {
    color: hsl(29, 45%, 52%); 
}

.classCOLOR5 {
    color: hsl(32, 72%, 46%); 
}

.classCOLOR6 {
    color: hsl(29, 29%, 66%); 
}


.classCOLOR7 {
    color: lab(66.54% 29.8 -13.12); 
}

.classCOLOR8 {
    color: lab(66.54% 29.8 -13.12; 
}

.classCOLOR9 {
    color: lab(66.54% 29.8 -13.12; 
}
.classCOLOR10 {
    color: lab(66.54% 29.8 -13.12; 
}
.classCOLOR11 {
    color: lab(66.54% 29.8 -13.12); 
}


#main-Headline {
    text-align: center;
}

.box {
    border: 4px solid #F08A85;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px 15px;
    display: inline-block;
}

#headline-box {
    padding: 0px;
    width: 100%;
}

#headline-box > h1 {
    margin: 0;